[user]
  name = Alex Gotsis
  email = alexgotsis8@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = true
  pager = true

[push]
   autoSetupRemote = true

[alias]
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

